<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>失敗しないゴルフ場選び</title>
    <link rel="stylesheet" href="golfs.scss">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">RootGolf</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists" >
          <li>新規登録</li>
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>
  </body>
</html>