



.page-heading{
  font-size: 4rem ;
  text-align: center;
  padding-top: 20px;
  color:rgb(69, 115, 1);
}

.user-information-area{
  width: 100vw;
  text-align: center;
}

.information-user-title{
  font-size: 4rem;
  color: rgb(69, 115, 1);
}

.information-user-text{
  display: inline;
  font-size:3rem;
  color: rgb(196, 128, 104);
}
.admin-comment-field{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
}
.admin-comments{
  text-align: center;
  padding: 10px;
  color: rgb(69, 115, 1);
}

.admin-comment-room{
  margin-top: 20px;
  border:3px solid #003059;
  padding:25px;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  width: 80vw;
  height:30vh;
  color: white;
  overflow:scroll;
}



